
@{
    ViewData["Title"] = "Travel";
}

<h1>旅遊欄目一覽</h1>
<input type="text" class="form-control w-25 mb-3" id="text1"/>
@*設定boolshap卡片存放的位置*@
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">
</div>

@section Scripts{
    @*讀入檔案夾內的JSON資料*@
     <script src="~/js/travel.js"></script>
     <script>
         const txt = document.querySelector("#text1");
         txt.addEventListener("keyup",()=>{
             @*透過函式運算，通過檢驗函式元素構成新的陣列*@
            const results = DATAS.filter(data=>data.Name.indexOf(txt.value !==-1));
            //indexOf 找不到值 為-1 ===是嚴格判定，連型別也會檢視
            
         });
         ShowDatas(DATAS);
         //const(常數)有點像使用let ,常數不能重複指定與宣告
         function ShowDatas(_datas){
             //JSON檔 用.map去提取內部的資料       
             const places = _datas.map(data=>{
                const { Name, Toldescribe, Add, Opentime, Website } = data; 
                //宣告變數 用{} 提取Json內的資料，但屬性名稱要與JSON檔相同(注意大小寫)
                //用``包覆的字串可以換行，換自動去空白
                return (`<div class="col">
                                    <div class="card">
                                        <div class="card-header bg-transparent border-success">${Name}</div>
                                                <div class="card-body">
                                                                <p class="card-text">${Toldescribe}</p>
                                                                <p class="card-text">開放時間:${Opentime}</p>
                                                                <a class="btn btn-info" href="${Website}">官方網站</a>
                                                </div>
                                                <div class="card-footer bg-transparent border-success" > 地址: ${ Add } </div>
                                        </div>
                        </div> ` );
                });
               
                document.querySelector("#list").innerHTML = places.join("");
                //join() 方法將陣列所有元素按指定的分隔符號合併成一個字串
             }
             //<div>等標籤符號不能有空格
     </script>
}
